.product_container {
    padding: 100px 10px 20px;
}
.product_body {
    display: flex;
}
.product_body-img {
    flex: 0 0 50%;
}
.product_body-img img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.details-heading {
    font-size: 42px;
}

.details-count {
    font-size: 22px;
}
.details-count span {
    background: #f582ae;
    padding: 5px;
}
.details-size {
    display: flex;
    font-size: 22px;
}
.details-weight {
    font-size: 22px;
}

.product_comments-body {
    margin: 20px 5px;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.product_body-details {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.details-count {
    font-size: 26px;
    margin: 20px;
}

.details-size {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin: 30px;
}

.btn {
    margin-top: 100px;
    height: 50px;
    width: 100px;
    font-weight: bold;
    background: #001858;
    color: #f3d2c1;
    border: none;
}
.product_comments-headline {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.product_comments-comment {
    display: flex;
    flex-direction: column;
}
.product_comments-body input{
    width: 80%;
    height: 40px;
    background: #001858;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #f582ae;
}

.product_comments-body button{
    height: 40px;
    background: #f582ae;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #001858;
    cursor: pointer;
    font-weight: bold;
}

.comment-body {
    background: #8bd3dd;
    margin: 10px auto;
    text-align: center;
    width: 400px;
    font-size: 22px;
    color: #001858;
    border-radius: 10px;
}
